$background-color-light: rgba(160, 204, 218, 0.274);
$background-color-verylight: rgba(160, 204, 218, 0.05);
$background-color-medium: rgba(96, 129, 139, 0.789);
$background-color-neutral-light: rgba(201, 209, 211, 0.961);
$background-color-dark: rgb(71, 123, 142);
$background-color-darker: rgb(39, 73, 85);


$text-color-light: rgb(160, 204, 218);
$text-color-neutral: rgb(127, 143, 148);
$text-color-medium:rgb(96, 144, 160);
$text-color-dark: rgb(32, 48, 54);
