@import './_variables';

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav {
    color: $text-color-dark;
    background: white;

    a:link {
      color: $text-color-dark;
    }
    a:visited {
      color: $text-color-dark;
    }

    .nav-links {
      background: $background-color-darker;
      color: white;

      a {
        display: inline-block;
        margin: 1em;
        color: white;
      }
    }

    h1 {
      display: inline-block;
    }

  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.grid {
  display: grid;
}

.container {
  display: grid;
  margin: 15px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

nav {
  grid-area: header;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "content sidecontent";
  grid-column-gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content {
  grid-area: content;
}


.single-podfic-container {
  display: grid;
  grid-template-columns: $podfic-art-med 2fr 1fr;
  grid-template-areas:
    "podimage title title"
    "podimage tags tags"
    "podimage description description";
  background: white;
  outline: solid $background-color-neutral-light 1px;
  align-items: start;

}

.search-container {
  grid-area: sidecontent;
  height: 300px;
  background: $background-color-medium;
  outline: solid $text-color-dark 1px;
}

.audiofile-area {
  grid-area: sidecontent;
  background: red;
}

.podfic-image {
  grid-area: podimage;
  padding: $art-margin;
  align-self: center;
}
.podfic-title {
  grid-area: title;
  padding-left: 10px;
  padding-right: 10px;

  a:visited {
    color: $text-color-neutral;
  }
  a:link {
    color: $text-color-medium;
  }

  h3 {
    display: inline;
  }

}
.podfic-description {
  grid-area: description;
  justify-self: start;
  padding-left: 10px;
  padding-right: 10px;

}
.podfic-tags {
  grid-area: tags;
  padding-left: 10px;
  padding-right: 10px;
}
